html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: peru;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-size: cover;
    background-image: url("bgd.jpg");
    height: 100vh;

    }
    
    .container{
        background: white;
        max-width: 80%;
        margin: auto;
        border: 3px solid black;
        border-radius: 10px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    button {
        border: 2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        color: purple;
        font-weight: bold;
        width: 200px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
#increment-btn {
    background: greenyellow;
}

#save-btn {
    background: #1C7947
}

#save-el {
    font-weight: bold;
}
    
    